#### Latihan List Comprehension
**1. Menggunakan list comprehension buat list yang berisi angka 1 hingga 100**
****
**2 Ubah pernyataan dibawah ini menjadi list comprehension**
```python
list_a = [3,9,27,81,243]
list_b = []
for value in list_a:
    list_b.append(value/3)
list_b
```

**3 Ubah pernyataan dibawah ini menjadi list comprehension**
```python
list_1 = [x for x in range(100)]
list_2 = []
for value in list_1:
    if value < 25:
        list_2.append(value * 2)
list_2
```

In [2]:
#Jawaban soal 1
soal_1 = [i+1 for i in range(100)]
print(soal_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [4]:
#Jawaban Soal 2
list_a = [3,9,27,81,243]
list_b = [int(i/3) for i in list_a]
print(list_b)

[1, 3, 9, 27, 81]

In [7]:
#Jawaban Soal 3
list_1 = [x for x in range(100)]
list_2 = [i*2 for i in list_1 if i<25]
print(list_2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]